<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quantumix</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <meta name="description" content="Amplify your Roblox gameplay with our roblox script.">
  <meta name="keywords" content="roblox scripts, find roblox scripts, best roblox scripts, synapsex, roblox script lua, roblox script finder">
  <meta name="author" content="Quantumix">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VEHXXEPXDX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-VEHXXEPXDX');
  </script>

  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/ZenithDust/Quantumix/main/Files/logo.png">
  <meta name="theme-color" content="#000000">
</head>

<body onload="load()">
  <script type='text/javascript' src='//pl20587345.highcpmrevenuegate.com/4b/74/dd/4b74dde1905465b44ab228d98e0be041.js'></script>
  <script type='text/javascript' src='//pl20587345.highcpmrevenuegate.com/4b/74/dd/4b74dde1905465b44ab228d98e0be041.js'></script>
  <script type='text/javascript' src='//pl20587345.highcpmrevenuegate.com/4b/74/dd/4b74dde1905465b44ab228d98e0be041.js'></script>
  <div class="wrapper">
    <div class="container-qx">
      <div class="header">
        <div class="navigation-header d-flex text-center justify-content-center align-items-center">
          <div class="container w-100">
            <div class="container nav-items text-center w-100">
              <div class="d-flex flex-wrap text-center justify-content-center w-100">
                <a href="{{ url_for('home') }}" class="nav-link flex-fill">Home</a>
                <a href="{{ url_for('getkeyredirect') }}" class="nav-link flex-fill">Get Key</a>
                <a href="" class="nav-link flex-fill">Supported</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay-body d-flex flex-column text-center justify-content-center align-items-center h-auto">
        <div class="overlay text-center w-100 text-wrap">
          <h1 class="qx-title">Quantumix</h1>
          <h2 class="qx-info">The ultimate Roblox script software with quantum-level capabilities for revolutionary gameplay.</h2>
        </div>
        <div class="text-center" style="margin-top: 20px;">
          <input type="text" value="loadstring(game:HttpGet('https://raw.githubusercontent.com/ZenithDust/Quantumix/main/Quantumix.lua'))()" class="script-txt" readonly>
        </div>
        {% if Data %}
        <div class="info d-flex flex-column justify-content-center align-items-center w-100" style="padding: 20px;">
          <div class="text-start recent-box w-100 d-flex flex-row">
            <div class="avatar">
              <img src="https://tr.rbxcdn.com/c06f3e28a0332ccdfb11fcf42bb75aac/150/150/AvatarHeadshot/Png" height="90" width="90">
            </div>
            <div class="information text-center">
              <h1 class="usrname">{{ Data['username'] }}</h1>
              <hr>
              <p class="text-muted usrid">{{ Data['userid'] }}</p>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="overlay-body info d-flex flex-column justify-content-center align-items-center w-100" >
        <ul class="list-group list-group-horizontal-sm collapse text-center section-list w-100 flex-row mb-3 d-flex aligns-items-center justify-content-center flex-wrap" >
          <li class="info-list list-group-item w-auto text-center d-flex aligns-items-center justify-content-center w-100" >
            <div class="text-center executes-box w-100" >
              <img src="https://cdn-icons-png.flaticon.com/128/1849/1849522.png" height="90" width="90">
              <h4 class="text-muted" style="font-size: 20px; margin-top: 10px;">Total Executes</h4>
              <h3 style="margin-top: 15px;"><strong>{{ total }}</strong></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center d-flex flex-column" style="margin-top: 100px;">
    <script type="text/javascript">
	atOptions = {
		'key' : 'c0d5426dcd35f07edc58e0c3c8f70a36',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c0d5426dcd35f07edc58e0c3c8f70a36/invoke.js"></scr' + 'ipt>');
    </script>
    <script type="text/javascript">
	atOptions = {
		'key' : 'c0d5426dcd35f07edc58e0c3c8f70a36',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c0d5426dcd35f07edc58e0c3c8f70a36/invoke.js"></scr' + 'ipt>');
</script>
    <script type="text/javascript">
	atOptions = {
		'key' : 'c0d5426dcd35f07edc58e0c3c8f70a36',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c0d5426dcd35f07edc58e0c3c8f70a36/invoke.js"></scr' + 'ipt>');
</script>
    <script type="text/javascript">
	atOptions = {
		'key' : 'c0d5426dcd35f07edc58e0c3c8f70a36',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c0d5426dcd35f07edc58e0c3c8f70a36/invoke.js"></scr' + 'ipt>');
</script>
    <script type="text/javascript">
	atOptions = {
		'key' : 'c0d5426dcd35f07edc58e0c3c8f70a36',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c0d5426dcd35f07edc58e0c3c8f70a36/invoke.js"></scr' + 'ipt>');
    </script>
    <script type="text/javascript">
	atOptions = {
		'key' : 'c0d5426dcd35f07edc58e0c3c8f70a36',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c0d5426dcd35f07edc58e0c3c8f70a36/invoke.js"></scr' + 'ipt>');
</script>
    <script type="text/javascript">
	atOptions = {
		'key' : 'c0d5426dcd35f07edc58e0c3c8f70a36',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c0d5426dcd35f07edc58e0c3c8f70a36/invoke.js"></scr' + 'ipt>');
</script>
    <script type="text/javascript">
	atOptions = {
		'key' : 'c0d5426dcd35f07edc58e0c3c8f70a36',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c0d5426dcd35f07edc58e0c3c8f70a36/invoke.js"></scr' + 'ipt>');
</script>
  </div>
</body>

</html>